.form-input {
    padding: 20px 5px 0px;

    .input-label {
        /* font-family: Public Sans; */
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0em;
        text-align: left;
        color: #374151;
        padding-bottom: 5px;
    }

    .input-field {
        border-radius: 6px;
        border: #D1D5DB 1px solid;
        width: 80%;
        height: 38px;
        padding: 9px 13px 9px 13px;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 400;
        color: #6B7280;
    }
}
.rbc-calendar{
    span{
        line-height: 3rem;
    }

    .rbc-date-cell{
        text-align: left;
    }
    .rbc-today{
        background-color: #4C5EFF;
    }
}