.change-password-modal{
    .modal-body{
        padding:2rem;
    }
    .input-field{
        width: 100%;
        background: rgba(20, 130, 194, 0.1);
    }
    .password-vis-icon{
        position: absolute;
        bottom: 0.4rem;
        right: 3%;
        cursor: pointer;
    }
    .match-pass{
        border-color: #0AB130!important;
    }
    .unmatch-pass{
        border-color: red!important;
    }
}
