.select-box {
    position: relative;
  }
  
  .select-box  .options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    list-style: none;
    margin: 0;
    width: 100%;
    z-index: 1;
  }
