.bg-blue{
    background-color: #2141aa;
    color: #fff;
}

.bg-green{
    background-color: #0ab130;
    color: #fff;
    text-align: left!important;
    display: table-cell;
}

.bg-black{
    background-color: #000;
    color: #fff;
}

.bg-gray{
    background-color: #6c6c6c;
    color: #fff;
}

.start{
    text-align: start;
}

.timeline-cell {
    padding: 0;
    text-align: center;
    color: white;
    padding: 0px!important;
   
}

.timeline-cell-inner {
    text-overflow: ellipsis;
    width: calc(100% - 2px);
    line-height: 1.5rem;
    border: 1px solid #333;
    border-radius: 3px;
    overflow: hidden;
    height: 1.5rem;
    font-size: 0.8rem;
}

.timeline-table  {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
    width: 100%;
    th, td {
        border: 1px solid black!important;
        padding: 0.5rem 0.35rem;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.5rem;
        text-align: center;
    }
}
@media screen and  (max-width: 768px) {
    .timeline-table  {
        min-width: 75rem;
    }
}