.select-box {
    position: relative;
    width:100%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #1482C2;
    border-radius: 4px;
    background-color: rgba(10, 177, 48, 0.04);
    padding: 6px 12px;
  }

  .select-button{
    color:#1482C2;
    cursor: pointer;
  }

  .icon{
    color:#1482C2;
    cursor: pointer;
  }
  
  .select-box  .options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 2px;
    padding-right: 5px;
    list-style: none;
    margin: 0;
    width: 100%;
    z-index: 1;
  }
